*{
    box-sizing:border-box;
}

body{
    height:100%;
    margin:0;
}

.banner{
    background-color: rgb(79, 79, 221);
    color: white;
    text-align: center;
}
.purple{
    background-color: rgb(194, 154, 194);
}

.red{
    background-color: rgb(243, 125, 125);
}

.orange {
    background-color: rgb(248, 189, 78);
}
.yellow{
    background-color: rgb(250, 234, 144);
}

.green{
    background-color: rgb(133, 221, 133);
}

.card{
    text-align: left;
    background-color: rgb(75, 75, 209)
}

.card-title{
    color:white;
}

p {
    color:rgb(234, 249, 250);
    text-align: left;
    padding:0px;
}

.cityIndex{
    color:grey;
}
/* .five-day-container{
    border: black solid;

} */

/* #searchBar{
    border-bottom: black solid;
    padding: 5px;
}  */

/* #mainWeather{
    border: black 1px solid;
    padding: 10px;
} */

/* .weatherBoxes {
    display:inline-block; */
/* }
.mainWeather{
  
    border-bottom: black solid 1px;
   
} */