*{
    box-sizing:border-box;
}

body{
    height:100%;
    margin:0;
}

.banner{
    background-color: rgb(79, 79, 221);
    color: white;
    text-align: center;
}

/* .five-day-container{
    border: black solid;

} */

/* #searchBar{
    border-bottom: black solid;
    padding: 5px;
}  */

/* #mainWeather{
    border: black 1px solid;
    padding: 10px;
} */

/* .weatherBoxes {
    display:inline-block; */
/* }
.mainWeather{
  
    border-bottom: black solid 1px;
   
} */